<mat-toolbar>
  <button mat-button routerLinkActive='active current' routerLink="/">My Header</button>
  <button mat-button routerLinkActive='active current' routerLink="/login">Login</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLinkActive='active current' routerLink="/testing">Testing</a></button>
    <button mat-menu-item><a routerLinkActive='active current' routerLink="/users">users</a></button>
    <button mat-menu-item><a routerLinkActive='active current' routerLink="/categories">categories</a></button>
    <button mat-menu-item><a routerLinkActive='active current' routerLink="/products">products</a></button>
    <button mat-menu-item><a routerLinkActive='active current' routerLink="/products/form">productsForm</a></button>
  </mat-menu>
</mat-toolbar>