@import '../../../famous';

    #products {
        width: 27%;
        float: left;
        margin: 1.583%;
        padding: 1.583%;
        list-style: none;
    }
      
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }   

      .mat-card{
          padding:0;
      }

      .mat-card-image {
        width: calc(100%);
        margin: 0 0px 16px -0px;
    }

    .mat-card-actions {
        margin-left:0px;
        margin-right:0px;
        padding: 8px 0;
    }

    .mat-card>.mat-card-actions:last-child{
        margin: 0;
    }

    .mat-card-image:first-child {
        margin-top:0px;
    }