<mat-card id="products" *ngFor="let item of items | async">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.title}}</mat-card-title>
    <!-- <div>
        <input [(ngModel)]="item.name" placeholder="title">
    </div> -->
    <mat-card-subtitle>name => {{item.name}}</mat-card-subtitle>...
    ids =>{{item.id}}
  </mat-card-header>
<a [routerLink] = "['/products', item.name]">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a ShibaInu">
</a>
  <mat-card-content>
      <p>
          {{item.description}}
      </p>
      <p>
          {{item.price | currency}}
      </p>
      <p>
      <!-- <input [(ngModel)]="lastname" [ngModelOptions]="{ updateOn: 'blur' }"> -->
      <!-- <form [ngFormOptions]="{ updateOn: 'submit' }"></form> -->
      </p>
      </mat-card-content>
  <mat-card-actions>
    <button mat-button>BUY</button>
  </mat-card-actions>
</mat-card>


