This page is under categories as products

<mat-card id="products" *ngIf="items | async as item">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{item.description}}
        </p>
        <p>
            {{item.price | currency}}
        </p>
        </mat-card-content>
    <mat-card-actions>
      <button mat-button>BUY</button>
    </mat-card-actions>
</mat-card>

