@import '../../../famous';

mat-toolbar{
    background: $primary-background;
    color:$primary-active-header-footer-color;
}
button.mat-button{
    background: $primary-toolbar-button;
    background-color: $primary-toolbar-button;
    color: $primary-toolbar-button-color;
}