/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Nunito|Spectral+SC');

main{
    height:100%;
    width:100%;
    background:blue;
    display: block;
    float: left;
}

/**OVERALL**/
$primary-background:#e14658;
$primary-opaque:rgba(255,255,255,0.71);
$primary-font-color:rgba(255,255,255,1.0);
$primary-active:rgba(0,0,0,1.0);
$primary-active-shadow:rgba(0,0,0,0.29);
$primary-active-border:rgba(255,255,255,1.0);
$primary-active-header-footer-color:rgba(255,255,255,1.0);
$primary-toolbar-button:transparent;
$primary-toolbar-button-color:rgba(255,255,255,1.0);

/**products**/
$primary-product-background:rgba(0,0,0,0.52);